title = "Итересная категория"
url = "/interest/category/:slug"
layout = "master"
is_hidden = 0

[builderDetails]
modelClass = "Timlis\News\Models\Category"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "title"
notFoundMessage = "Записей не найдено"
==
<?php
use Timlis\News\Models\Tag;

	function onStart()
	{
		$this['tags'] = Tag::get();

	}
?>
==
{% set category = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}


{% put scripts %}
    <script defer src="{{ 'assets/js/interest.js'|theme }}"></script>
{% endput %}


      <div class="lt__main _scroll js-ps-scroll">
        <div class="ist">
          <div class="ist-head">
            <div class="ist-head__container">
              <h1 class="ist-head__h1">ИТресное</h1>
              <form action="" class="ist-filter">
                <div class="ist-filter__body">
                  <select name="" disabled>
                    <option value="{{ category.slug }}">{{ category.title|upper }}</option>
                  </select>
                  <select name="">
                  <option value="">-- ПЕРВЫЙ ФИЛЬТР --</option>
                  {% for tag in tags %}
                    <option value="{{tag.slug}}">{{tag.title|upper}}</option>
                  {% endfor %}	  
                  </select>
                  <select name="">
                  <option value="">-- ВТОРОЙ ФИЛЬТР --</option>
                  {% for tag in tags %}
                    <option value="{{tag.slug}}">{{tag.title|upper}}</option>
                  {% endfor %}	  
                  </select>
                  <select name="">
                  <option value="">-- ТРЕТИЙ ФИЛЬТР --</option>
                  {% for tag in tags %}
                    <option value="{{tag.slug}}">{{tag.title|upper}}</option>
                  {% endfor %}	  
                  </select>
                </div>
                <button type="submit" class="ist-filter__submit">
                  <div class="ist-filter__submit-tip">Отфильтровать</div>
                </button>
              </form>
            </div>
          </div>


          <div class="ist-articles">

		 {% for record in category.interest %}

            <div class="ist-article">

            {# Use spaceless tag to remove spaces inside the A tag. #}


              		<div class="ist-article__colL"><a href="/interest/{{ record.slug }}" class="ist-article__link"><img src="{{ record.attachments.path }}" alt="img" class="ist-article__img"></a></div>


              <div class="ist-article__colR"><a href="/interest/{{ record.slug }}" class="ist-article__link">
                  <h2 class="ist-article__h2">{{ record.title }}</h2></a>
                <p class="ist-article__p">{{ html_limit(record.content , 150) | striptags }}</p>
                <div class="ist-article__date">{{ record.created_at.format('d.m.Y') }}</div><a href="{{ record.link }}" title="" class="ist-article__refer">{{ record.links }}</a>
              </div>
            </div>

         {% endfor %}   
            
          </div>
        </div>
      </div>
    </div>
    <!-- JS Bottom-->
    <!-- /JS Bottom-->
  </body>
</html>