 <!-- news-->
        <div data-news-id="newsall" class="home-lt__news-content">
          <div class="news-all">
            <div class="news-all-h2">НОВОСТИ</div>
            <ul class="news-all-ul">
              <li class="news-all-li">
                <div class="news-all-milstone _start"><span class="news-all-milstone__year">2016</span><span class="news-all-milstone__pin"></span></div>
              </li>
              <li class="news-all-li">
                <article class="news-all-article"><a href="" class="news-all-article__a">
                    <div class="news-all-article__colL">
                      <div class="news-all-article__date">21.12</div>
                      <h3 class="news-all-article__h3">ТИМЛИС представил новую облачную платформу – T.Cloud</h3>
                      <p class="news-all-article__p">Компания «Техносерв» объявляет о запуске нового направления бизнеса — облачного платформы. Компания «Техносерв» объявляет о запуске нового направления бизнеса — облачного платформы</p>
                      <button class="home-news-btn _newsall"><span>Подробнее</span><img src="{{ 'assets/img/t_arrow.svg'|theme }}"></button>
                    </div>
                    <div class="news-all-article__colR"><img src="{{ 'assets/img/photo-1.jpg'|theme }}" alt="image" class="news-all-article__img"></div></a></article>
              </li>
              <li class="news-all-li">
                <article class="news-all-article"><a href="" class="news-all-article__a">
                    <div class="news-all-article__colL">
                      <div class="news-all-article__date">07.10</div>
                      <h3 class="news-all-article__h3">ТИМЛИС представил новую облачную платформу – T.Cloud</h3>
                      <p class="news-all-article__p">Компания «Техносерв» объявляет о запуске нового направления бизнеса — облачного платформы. Компания «Техносерв» объявляет о запуске нового направления бизнеса — облачного платформы</p>
                      <button class="home-news-btn _newsall"><span>Подробнее</span><img src="{{ 'assets/img/t_arrow.svg'|theme }}"></button>
                    </div>
                    <div class="news-all-article__colR"><img src="{{ 'assets/img/photo-2.jpg'|theme }}" alt="image" class="news-all-article__img"></div></a></article>
              </li>
              <li class="news-all-li">
                <div class="news-all-milstone _middle"><span class="news-all-milstone__year">2015</span><span class="news-all-milstone__pin"></span></div>
              </li>
              <li class="news-all-li">
                <article class="news-all-article"><a href="" class="news-all-article__a">
                    <div class="news-all-article__colL">
                      <div class="news-all-article__date">07.10</div>
                      <h3 class="news-all-article__h3">ТИМЛИС представил новую облачную платформу – T.Cloud</h3>
                      <p class="news-all-article__p">Компания «Техносерв» объявляет о запуске нового направления бизнеса — облачного платформы. Компания «Техносерв» объявляет о запуске нового направления бизнеса — облачного платформы</p>
                      <button class="home-news-btn _newsall"><span>Подробнее</span><img src="{{ 'assets/img/t_arrow.svg'|theme }}"></button>
                    </div>
                    <div class="news-all-article__colR"><img src="{{ 'assets/img/photo-3.jpg'|theme }}" alt="image" class="news-all-article__img"></div></a></article>
              </li>
              <li class="news-all-li">
                <div class="news-all-milstone _end"><span class="news-all-milstone__year">2014</span><span class="news-all-milstone__pin"></span></div>
              </li>
            </ul>
          </div>
        </div>
        <!-- /news-->
        
        
      </div>
      <div class="home-lt__news-all js-ps-scroll">
        <h2 class="home-news-h2">НОВОСТИ</h2>
        <article class="home-news-article"><a href="" class="home-news-article__a">
            <h2 class="home-news-article__h2">ТИМЛИС представил новую облачную платформу – T.Cloud</h2>
            <p class="home-news-article__p">Компания «Техносерв» объявляет о запуске нового направления бизнеса — облачного  ...</p>
            <p class="home-news-article__date">11.11.2016</p></a></article>
        <article class="home-news-article"><a href="" class="home-news-article__a">
            <h2 class="home-news-article__h2">ТИМЛИС представил новую облачную платформу – T.Cloud</h2>
            <p class="home-news-article__p">Компания «Техносерв» объявляет о запуске нового направления бизнеса — облачного  ...</p>
            <p class="home-news-article__date">11.11.2016</p></a></article>
        <article class="home-news-article"><a href="" class="home-news-article__a">
            <h2 class="home-news-article__h2">ТИМЛИС представил новую облачную платформу – T.Cloud</h2>
            <p class="home-news-article__p">Компания «Техносерв» объявляет о запуске нового направления бизнеса — облачного  ...</p>
            <p class="home-news-article__date">11.11.2016</p></a></article>
        <article class="home-news-article"><a href="" class="home-news-article__a">
            <h2 class="home-news-article__h2">ТИМЛИС представил новую облачную платформу – T.Cloud</h2>
            <p class="home-news-article__p">Компания «Техносерв» объявляет о запуске нового направления бизнеса — облачного  ...</p>
            <p class="home-news-article__date">11.11.2016</p></a></article><a href="" data-news-target="newsall" class="home-news-btn _home js-openNewsAll"><span>Все новости</span><img src="{{ 'assets/img/t_arrow.svg'|theme }}"></a>
      </div>
    </div>